<div class="jumbotron">
	<h1>Hello, <%= @user.username %>!</h1>
	<p>Use this application to calculate your EMIs</p>
	<button class="btn btn-info btn-lg" onclick="location.href='<%= @domain %>/emi'">Calculate EMI Now</button>
</div>